<ion-header>
  <ion-toolbar>
    <ion-title class = "ion-text-center ion-text-uppercase">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <figure>
    <img src="assets/image/profile.jpg"/>
  </figure>
  
  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
    <ion-item>
      <ion-input 
        label="Email" 
        labelPlacement="floating" 
        placeholder="Correo electrónico" 
        formControlName="email">
      </ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validation of validation_messages.email">
        <div *ngIf="loginForm.get('email')?.hasError(validation.type) && loginForm.get('email')?.dirty">
          {{validation.message}}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-input 
        label="Contraseña" 
        labelPlacement="floating" 
        placeholder="Contraseña" 
        formControlName="password"
        type="password">
      </ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validation of validation_messages.password">
        <div *ngIf="loginForm.get('password')?.hasError(validation.type) && loginForm.get('password')?.dirty">
          {{validation.message}}
        </div>
      </ng-container>
    </div>

    <ion-button 
      type="submit" 
      [disabled]="!loginForm.valid"
      expand="block"
      shape="round"
      >
      Login <ion-icon name="checkmark"></ion-icon>
    </ion-button>
    
    <ion-button 
      type="submit"
      expand="block"
      shape="round"
      >
      Registro <ion-icon name="body"></ion-icon>
    </ion-button>

  </form>
</ion-content>