<ion-header>
  <ion-toolbar>
    <ion-title class = "ion-text-center ion-text-uppercase">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <figure>
    <img src="assets\image\profile.jpg"/>
  </figure>
  
  <form [formGroup]="loginForm" (ngSubmit)="(loginUser(loginForm.value))">
    <ion-item>
      <ion-input label="Email" labelPlacement="floating" placegolder="Correo electronico" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Contraseña" labelPlacement="floating" placegolder="Correo electronico" formControlName="password"></ion-input>
    </ion-item>
    <ion-button
      type="Submit"
    >
      Login
    </ion-button>
  </form>

</ion-content>
