<ion-content class="custom-bg-color">
  <ion-icon class="style-close" name="close-circle-outline" (click)="close()"></ion-icon>

  <swiper-container class="sp-bg-color">

    <swiper-slide *ngFor="let slide of slides">
      <div class="style-user">
        <ion-avatar class="style-avatar">  
          <img alt="Silhouette of a person's head" src="{{slide.avatar}}" />
        </ion-avatar>
        <ion-icon name= "{{slide.icon}}"></ion-icon>
        <h2 class="style-name">{{slide.title}}</h2>
      </div>
      <img src = "{{slide.image}}"/>
      <p class="style-description">{{slide.description}}</p>
    </swiper-slide>

  </swiper-container>

</ion-content>

 